/*CONFIGURAÇÕES GERAIS*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #F5F3F5;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Oswald';
    src: url(assets/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(assets/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(assets/ubuntu/Ubuntu-Regular.ttf);
}

.capa {
    background-image: url(assets/capa.png);
    background-size: cover;
    width: 100vw;
    height: 95vw;
    position: absolute;
    top: 0vh;
    left: 0vw;
}

.logo {
    width: 176px;
    height: 176px;
    position: absolute;
    right: 5vw;
    top: 6vh;
}

.menu {
    width: 68,54px;
    height: 54px;
    position: absolute;
    left: 5vw;
    top: 16vh;
    cursor: pointer; /*mãozinha do mouse aparecer*/
    display: block;
}

a {
    color: #F5F3F5;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Ubuntu';
  }
  
  a:hover {
    opacity: 0.7;
  }

h1 {
    position: absolute;
    width: 100vw;
    height: 17vh;
    left: 0vw;
    right: 0vw;
    top: 35vh;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 70px;
    /* identical to box height, or 88% */
    align-items: center;
    text-align: center;
    color: #3B0918;   
}

h2 {
    position: absolute;
    width: 45vw;
    height: 6vh;
    left: 27.5vw;
    right: 27.5vw;
    top: 50vh;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    line-height: 34px;
    align-items: center;
    text-align: center;
    background-color: rgba(220, 71, 49, 0.41);
    border-radius: 80px;
    color: #3B0918;
}

h3{
    width: 32vw;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: right;
    color: #FFF3D9;
}

#texto_claro1, #texto_claro2, #texto_claro4, #texto_claro5, #texto_claro6, #texto_claro8, #texto_claro9{
    width: 32vw;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    text-indent: 20px;
    color: #FFFFFF; 
}

#footer_index, #footer_tecnicasleitura, #footer_resenhas, #footer_quemsomos, #footer_referencias{
    width: 100vw;
    height: 50vh;
    background: #cfcac0;
}




/*INDEX.HTML*/

#frases {
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 95vh;
    left: 0;
    background-color:#B8390E   
}

#apresentacao_site {
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 190vh;
    left: 0vw;
    background-color:#3B0918
}

#img1 {
    position: absolute;
    width: 50vw;
    height: 95vh;
}

#titulo_secao1 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 10vh
}

#texto_claro1{
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 20vh;
}

#leitura {
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 380vh;
    left: 0;
    background-color:#DC4731;   
}

#img2 {
    position: absolute;
    width: 50vw;
    height: 95vh;
}


#titulo_secao2 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 10vh
}

#texto_claro2{
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 20vh;
}

#footer_index {
    position: absolute;
    left: 0vw;
    top: 474vh;
}

#catalogo3 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 285vh;
    background-color: whitesmoke;
}



/*TECNICASLEITURA.HTML*/

#intro_tecnicas {
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 95vh;
    left: 0;
    background-color: #F5F3F5;  
}

#titulo_secao3 {
    position: absolute;
    width: 100vw;
    left: 0vw;
    right: 9vw;
    top: 10vh;
    color: #B8390E;
    text-align: center;
}

#texto_escuro1{
    position: absolute;
    width: 80vw;
    left: 10vw;
    right: 10vw;
    top: 20vh;
    color: #3B0918;
    text-align: justify;
    font-family: "Ubuntu";
}

#tecnica1 {
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 190vh;
    left: 0vw;
    background-color: #DC4731;
}

#titulo_secao4 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 10vh
}

#texto_claro4 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 20vh;
}

#tecnica2 {
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 285vh;
    left: 0;
    background-color: #3B0918;
}

#titulo_secao5 {
    position: absolute;
    left: 59vw;
    left: 9vw;
    top: 10vh
}

#texto_claro5 {
    position: absolute;
    left: 59vw;
    left: 9vw;
    top: 20vh;
}

#tecnica3 {
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 380vh;
    left: 0;
    background-color: #B8390E;
}

#titulo_secao6 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 10vh
}

#texto_claro6 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 20vh;
}

#footer_tecnicasleitura {
    position: absolute;
    left: 0vw;
    top: 474vh;
}




/*RESENHAS.HTML*/

#introdução_cat{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 95vh;
    background-color: #DC4731;
    ;
}

#title_cat{
    color: black; 
    position: absolute;
    width: 60vw;
    top: 0vh;
}

#catalogo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 190vh;
    background-color: whitesmoke;
}

#catalogo2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 280vh;
    background-color: whitesmoke;
    C4731;
}

#cards_scrolling{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 1rem;
}

#cards_item{
    display: inline-block;
    transition: all.2 ease-in-out;
    max-width: 15rem;
    max-height: 10rem;
    padding: 3%;
    top: 100px;
}

#cards_item.img{
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar{
    display: inline;
}

#footer_resenhas {
    position: absolute;
    left: 0vw;
    top: 380vh;
}

/*QUEMSOMOS.HTML*/

#bookstans{
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 95vh;
    left: 0;
    background-color: #3B0918;    
}

#titulo_secao7 {
    position: absolute;
    width: 100vw;
    left: 0vw;
    right: 9vw;
    top: 10vh;
    color: #FFF3D9;
    text-align: center;
}

#texto_claro7{
    position: absolute;
    width: 80vw;
    left: 10vw;
    right: 10vw;
    top: 20vh;
    color: #F5F3F5;
    text-align: justify;
    font-family: "Ubuntu";
}

#integrante1{
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 190vh;
    left: 0;
    background-color:#B8390E;    
}

#titulo_secao8 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 10vh
}

#texto_claro8 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 20vh;
}

#integrante2{
    position: absolute;
    width: 100vw;
    height: 95vh;
    top: 285vh;
    left: 0;
    background-color:#DC4731;    
}

#titulo_secao9 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 10vh
}

#texto_claro9 {
    position: absolute;
    left: 59vw;
    right: 9vw;
    top: 20vh;
}

#footer_quemsomos {
    position: absolute;
    left: 0vw;
    top: 380vh;
}



/*REFERENCIAS.HTML*/